.bookmark-logo {
	cursor: pointer;
	svg {
		width: 3rem;
		opacity: 0.7;
	}
	.bookmarked {
		opacity: 1;
		stroke: #333;
		stroke-width: 4;
	}
}
.clap-btn {
	width: 3rem;
	cursor: pointer;
	&:active {
		transform: scale(1.1);
	}
}
.follow-btn {
	margin-left: auto;
	font-size: 1.6rem;
	border: 1px solid rgb(247, 70, 70);
	padding: 0.5rem 1rem;
	cursor: pointer;
}
